PORT=8080
DB_URL=postgres://<username>:<password>@localhost:5432/<database_name>?sslmode=disable

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=$DB_URL
GOOSE_MIGRATION_DIR=./database/migrations

JWT_SECRET=<256-bit-secret-key>